@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slabo+27px&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.509), rgba(0, 0, 0, 0.509)),
    url("img/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.3s all linear;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 100%;
  color: #fff;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 13px;
  font-size: 13px;
  background: transparent;
  position: relative;
  transition-duration: 0.7s;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.7s;
}
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin: 5%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  cursor: pointer;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s all linear;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 0.9s all linear;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* ========== CAMPUS ========== */
.campus h1,
p {
  text-align: center;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  transform: rotateX(-50%);
  left: 0;
  position: absolute;
  opacity: 0;
  transition: 0.7s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* ------------ FACILITIES ------------ */

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  /* text-align: center; */
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities-col p {
  padding: 0;
  text-align: left;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* ------------ TESTIMONIALS ------------ */
.testimonials {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimonials-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  width: 300px !important;
  height: 210px;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonials-col img {
  height: 40px;
  margin-left: 10px;
  margin-right: 25px;
  border-radius: 50%;
  margin-top: 20px;
}
.testimonials-col h3 {
  padding-right: 210px;
}
.testimonials-col p {
  text-align: left;
}
.testimonials-col {
  padding: 0;
}
.testimonials-col {
  margin-top: 15px;
  text-align: left;
}
.testimonials-col i {
  color: #f44336;
  padding-top: -20px;
}
#h3-sec {
  margin-right: 80px;
  width: 30%;
}
@media (max-width: 700px) {
  .testimonials-col img {
    margin-left: 0px;
    margin-left: 15px;
  }
}

/* ------------ CALL TO ACTION ------------ */

.cta {
  /* margin: 100% auto; */
  align-items: center;
  margin: auto;
  width: 82%;
  height: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .nav-links ul li {
    contain: "";
  }
}
/* ------------ FOOTER ------------ */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer:h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icon {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
#heart {
  color: #f44336;
}
